.fist {
    color: var(--secondary-color);
  }
  
  .jab {
    color: var(--primary-color);
  }
  
  .tv {
    color: var(--secondary-color);
  }

  nav {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 2px 3px 2px #f1f1f1;
  }

  .hamburger {
    display: none;
  }
  .logo {
    font-size: 2rem;
    font-weight: 500;
  }
  
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-item {
    margin-left: 2rem;
  }
  
  .nav-link {
    font-weight: var(--bold-font);
  }